<ng-container *ngIf="authenticationService.isAuthenticated | async; else notAuthenticated">
  <public-video-section
    infinite-scroll
    #watchLater="infiniteScroll"
    [dataLoader]="watchLaterDataLoader"
    [pageSize]="20"
    [videos]="$any(watchLater.content)"
    (removedFromWatchLater)="watchLater.remove($event)"
    name="Do obejrzenia"
    displayMode="tile">
    <ng-container noVideosAvailable>
      <h3>Rozpocznij od dodania filmów do obejrzenia, aby pojawiły się w tej sekcji</h3>
    </ng-container>
  </public-video-section>
</ng-container>

<ng-template #notAuthenticated>
  <div class="center padded-container">
    <mat-icon class="big-icon">schedule</mat-icon>
    <h1>Zobacz filmy dodane do obejrzenia</h1>
    <h3>Zaloguj się, aby zobaczyć swoją listę filmów do obejrzenia</h3>
    <login-button></login-button>
  </div>
</ng-template>
