<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">

  <title layout:fragment="subject">
    Zresetuj hasło swojego konta WatchIN
  </title>

  <th:block layout:fragment="header">
    Otrzymujesz tę wiadomość, ponieważ uruchomiłeś procedurę zmiany hasła swojego konta
  </th:block>

  <th:block layout:fragment="content">
    <p>
      Witaj
      <!--/*@thymesVar id="username" type="java.lang.String"*/-->
      <span th:text="${username}"></span>!
      <br>
      Aby utworzyć nowe hasło, kliknij w poniższy link:
      <br>
      <!--/*@thymesVar id="passwordResetLink" type="java.lang.String"*/-->
      <a th:href="${passwordResetLink}" th:text="${passwordResetLink}" style="text-decoration: none; color: #f44336;"></a>
    </p>
  </th:block>
</html>
