<account-layout>
  <form (ngSubmit)="onSubmit()" #forgottenPasswordForm="ngForm" class="inner-content">
    <h1>Odzyskaj swoje konto</h1>
    <h2>Podaj swój adres e-mail, aby zresetować hasło</h2>
    <h3 class="error" *ngIf="serverError">Nieznany błąd</h3>

    <div class="inner-form">
      <div class="form-row">
        <mat-form-field>
          <mat-label>Twój e-mail</mat-label>
          <input
            matInput
            type="email"
            autocomplete="off"
            required="required"
            name="email"
            [(ngModel)]="forgottenPasswordData.email"
            #emailControl="ngModel">
          <mat-error *ngIf="emailControl.invalid">
            <ng-container *ngIf="emailControl.errors.required">Pole wymagane</ng-container>
            <ng-container *ngIf="emailControl.errors.server as message">{{ message }}</ng-container>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="submit-buttons">
        <button mat-raised-button color="accent" type="submit" [disabled]="!forgottenPasswordForm.form.valid">
          Zresetuj hasło
        </button>
        <button mat-stroked-button color="primary" type="button" routerLink="/account/login">
          Anuluj
        </button>
      </div>
    </div>

  </form>
</account-layout>
