<account-layout>
  <ng-container *ngIf="resetPasswordData.token; else placeholder">
    <form (ngSubmit)="onSubmit()" #resetPasswordForm="ngForm" class="inner-content">
      <h1>Zresetuj swoje hasło</h1>
      <h2>Wprowadź nowe hasło dla swojego konta</h2>
      <h3 class="error" *ngIf="serverError">Nieznany błąd</h3>
      <h3 class="error" *ngIf="tokenError">Kod aktywacyjny jest błędny lub wygasł</h3>

      <input
        hidden
        name="token"
        [ngModel]="resetPasswordData.token"
        #tokenControl="ngModel">
      <h3 class="error" *ngIf="tokenControl.invalid && tokenControl.errors.server as message">
        {{ message }}
      </h3>

      <div class="inner-form">
        <div class="form-row">
          <mat-form-field>
            <mat-label>Nowe hasło</mat-label>
            <input
              matInput
              [type]="passwordVisible ? 'text' : 'password'"
              autocomplete="off"
              required="required"
              name="password"
              [(ngModel)]="resetPasswordData.password"
              #passwordControl="ngModel">
            <mat-icon matSuffix class="password-toggle" (click)="passwordVisible = !passwordVisible">
              <ng-container *ngIf="passwordVisible">visibility_off</ng-container>
              <ng-container *ngIf="!passwordVisible">visibility</ng-container>
            </mat-icon>
            <mat-error *ngIf="passwordControl.invalid">
              <ng-container *ngIf="passwordControl.errors.required">Pole wymagane</ng-container>
              <ng-container *ngIf="passwordControl.errors.server as message">{{ message }}</ng-container>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field>
            <mat-label>Powtórz hasło</mat-label>
            <input
              matInput
              [type]="repeatedPasswordVisible ? 'text' : 'password'"
              autocomplete="off"
              required="required"
              name="repeatedPassword"
              [(ngModel)]="resetPasswordData.repeatedPassword"
              #repeatedPasswordControl="ngModel">
            <mat-icon matSuffix class="password-toggle" (click)="repeatedPasswordVisible = !repeatedPasswordVisible">
              <ng-container *ngIf="repeatedPasswordVisible">visibility_off</ng-container>
              <ng-container *ngIf="!repeatedPasswordVisible">visibility</ng-container>
            </mat-icon>
            <mat-error *ngIf="repeatedPasswordControl.invalid">
              <ng-container *ngIf="repeatedPasswordControl.errors.required">Pole wymagane</ng-container>
              <ng-container *ngIf="repeatedPasswordControl.errors.server as message">{{ message }}</ng-container>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="submit-buttons">
          <button mat-raised-button color="accent" type="submit" [disabled]="!resetPasswordForm.form.valid">
            Zresetuj hasło
          </button>
          <button mat-stroked-button color="primary" type="button" routerLink="/account/login">
            Anuluj
          </button>
        </div>
      </div>
    </form>
  </ng-container>

  <ng-template #placeholder>
    <div class="inner-content">
      <h1>Zresetuj swoje hasło</h1>
      <h2>Na twój adres e-mail wysłana została wiadomość pozwalająca na utworzenie nowego hasła</h2>
    </div>
  </ng-template>

</account-layout>
