:host {
  display: flex;
  flex: 1 1 100%;
  align-items: center;
}

.search-icon {
  margin-left: 16px;
  cursor: pointer;
}

.search-input {
  display: flex;
  flex: 1 1 100%;
  padding: 0 8px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 2px;
  background-color: #fff;
  font: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  outline: none;
}
