@import '~material-icons/css/material-icons.scss';
@import "media-utils";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

input:-webkit-autofill {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
}

.center {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.padded-container {
  padding: 0 20px;
}

.big-icon {
  font-size: 64px;
  width: 64px !important;
  height: 64px !important;
  margin-bottom: 16px;
}

.mat-card {
  padding: 24px !important;
}

.mat-tab-label-active {
  opacity: 1 !important;
}

.mat-tab-body-content {
  overflow: visible !important;
}

.fadein {
  opacity: 0;
  transition: opacity 0.1s;

  &.ng-lazyloaded {
    opacity: 1;
  }
}

.button-with-icon {
  text-transform: uppercase;
  font-size: 12px;
  padding: 0 10px;

  @include desktop {
    font-size: 14px;
    padding: 0 15px;
  }

  mat-icon {
    margin-right: 5px;

    @include desktop {
      margin-right: 8px;
    }
  }
}

.block-ui-wrapper {
  background: rgba(255, 255, 255, 0.1) !important;
}

.sentinel {
  position: absolute;
  bottom: 0;
  left: 0;
}
