@use '~@angular/material' as mat;
@import '~@angular/material/theming';
@include mat.core();

$app-primary: mat.define-palette(mat.$gray-palette, A100, A50, A200);
$app-accent: mat.define-palette(mat.$red-palette);
$app-warn: mat.define-palette(mat.$red-palette);

$app-theme: mat.define-dark-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,
  )
));

@include mat.all-component-themes($app-theme);
